.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem 1rem;
}

.container > .row {
    display: flex;
    flex-wrap: wrap;
}

.container > .row > .col {
    width: 100%;
}