:root {
    --c0: 0;
    --c1: calc(100% / 12);
    --c2: calc(100% / 12);
    --c3: calc(100% / 12);
    --c4: calc(100% / 12);
    --c5: calc(100% / 12);
    --c6: calc(100% / 12);
    --c7: calc(100% / 12);
    --c8: calc(100% / 12);
    --c9: calc(100% / 12);
    --c10: calc(100% / 12);
    --c11: calc(100% / 12);
    --c12: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 5rem 1rem;
}

.container > .row {
    display: flex;
    flex-wrap: wrap;
}

.container > .row > .col-12 {
    width: 100%;
    padding: 0 1rem;
}

.container>.row>.col-6 {
    width: 50%;
}

.container>.row>.col-3 {
    width: 25%;
}

.visible-block {
    display: block;
}

.visible-inline-block {
    display: inline-block;
}

.visible-flex {
    display: flex;
}

.visible-grid {
    display: grid;
}

.visible-table {
    display: table;
}

.hidden {

}

@media (min-width: 36rem) {
    .container > .row {
        width: 30rem;
    }
}

@media (min-width: 48rem) {
    .container>.row {
        width: 42rem;
    }
}

@media (min-width: 30rem) {
    .container>.row {
        width: 24rem;
    }
}

@media (min-width: 30rem) {
    .container>.row {
        width: 24rem;
    }
}








